body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
}

.navbar {
  background: #222;
  padding: 15px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  color: #61dafb;
}

.loader {
  margin-top: 50px;
  font-size: 22px;
  font-weight: bold;
  color: #555;
}
table {
  width: 60%;
  margin: 20px auto;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #333;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #222;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
